<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> testFile</title>
</head>
<body>
    <center>
        <h1 style="color: chocolate">
            <a th:href="@{/testDown}">测试下载1.jpg</a><br>
<!--            二进制传输图片 -->
            <form th:action="@{testUp}" method="post" enctype="multipart/form-data">
                头像:<input type="file" name="photo"><br>
                <input type="submit" value="上传">
            </form>
        </h1>

    </center>
</body>
</html>